Repository guychienll/template-webpack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat: integration of tailwindcss
  .eslintrc.js
  package-lock.json
  package.json
  src/base.scss
  src/components/Button/button.module.scss
  src/components/Button/index.tsx
  src/index.tsx
  tailwind.config.js
  webpack.config.js
Due: eslint, prettier --write

build: add css minimizer when production mode
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

build: integration tailwind with storybook
  .storybook/main.ts
  .storybook/preview.ts
  src/components/Button/button.stories.tsx
Due: eslint, prettier --write

build: replace reset css to preflight in tailwind config
  src/base.scss
  src/components/Button/button.module.scss
  src/components/Button/index.tsx
  src/reset.scss
  tailwind.config.js
Due: eslint, prettier --write

build: install eslint plugin testing lib
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
  src/components/Button/button.spec.tsx
  src/components/Button/index.tsx
Due: eslint, prettier --write

feat: try has
  .browserslistrc
  package-lock.json
  package.json
  src/base.scss
  src/index.html
  src/index.tsx
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --write

feat: try remove cdn
  src/index.html
Due: none

build: add eslint plugin react hook to handle hook lint
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write

fix: change name from room service to template webpack
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,scss}
